<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSLS - Documentation</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>

    <div class="container">
        <div class="header">
            <nav>
                <div class="nav-left">
                    <h1>Smart Street Light System</h1>
                </div>
                <div class="nav-right">
                    <button><a href="{{ url_for('index') }}">Home</a></button>
                    <button><a href="{{ url_for('analysis') }}">Analysis</a></button>
                </div>
            </nav>
        </div>

        <div class="doc">
            
            <h1>1.1 Identifying the problem.</h1>
            <p>
                In today's modern world, urban environments demand a well-planned 
                infrastructure that is both energy-efficient and cost-effective. One 
                effective solution is the integration of a smart street light system, which 
                not only reduces energy consumption but also enhances safety and 
                accessibility in urban areas. 
                Street lighting is a core infrastructure piece in urban and semiurban 
                cities. It provides several advantages such as improving safety for 
                drivers and pedestrians. Nowadays, street lighting accounts for about 
                13-14% of the world’s electricity annual production, and the market is 
                continuously growing. It is expected that by 2027, there will be about 
                363 million streetlights around the world. Consequently, enormous 
                energy is consumed by the streetlights, which makes it imperative to 
                work on solutions to reduce street light consumption. There are some 
                countries that have implemented this project in cities and achieved a 
                good result, it presented in energy consumption. And from the 
                countries that used smart street light system are [China – Taiwan – USA – Japan – Korea – Sweden – Germany] 
                Individually we will review the plans of these countries and the 
                enforcement of this system to transform the street  to smart saving the 
                electrical energy and reduction of using the sailor or gas. While the features of smart streetlights depend on the specific 
                technology used by city planners, examples of common functionality 
                include the following:
            </p>
                <li>Dynamic lighting controls based on movement detection.</li>
                <li>Environmental and weather monitoring.</li>
                <li>Digital signage that can be updated as needed, such as parking regulations or accident alerts. </li>
                <li>Parking management, such as alerting officials of illegally parked vehicles or drivers of open spaces.</li>
                <li>Extended cellular and wireless communications.</li>

            <p>
                Implementing smart streetlight systems offers the following advantages:
            </p>

                <li>Reduced energy cost and usage with flexible dimming controls.</li>
                <li>Protect children because it is programmed to automatically turn off the lights in the event of rain or bad weather.</li>
                <li>Increased pedestrian satisfaction through improved safety measures.</li>
                <li>Lowered repair and maintenance costs with the monitoring software.</li>
                <li>Reduced carbon emissions and light pollution.</li>
                <li>Increased lamp life and shorter response times to outages.</li>
                <li>Improved architectural planning based on real traffic patterns and insights.</li>
                <li>Increased revenue opportunities, such as leasing poles for digital signage or other services.</li>
                <br><br>

                <h1>1.2 Solutions Applied by China</h1>
                <p>  
                    <ol>
                        <li>China needs to analyze and map its entire street light system. This analysis will provide data on the number of streetlights, their location, and their condition. This information will help in planning the project and deciding which areas to prioritize.</li>
                        <li>Form a Cross-Ministerial Committee To implement the smart street light system, China will need to form a cross-ministerial committee. This committee will include representatives from the Ministry of Science and Technology, the Ministry of Industry and Information Technology, the Ministry of Public Security, and the Ministry of Civil Affairs. The committee will be responsible for coordinating efforts and decision-making across various government departments.</li>
                        <li>Establish a Data Management Center To ensure the successful operation of the smart street light system, China will need to establish a data management center. This center will collect, analyze, and store data from streetlights, the Internet of Things (IoT) devices, and other relevant sources. This data will be used to monitor and maintain the system, as well as for research and development purposes.</li>
                        <li>Deploy IoT Devices and Sensors China will need to deploy IoT devices and sensors on the streetlights. These devices will be responsible for collecting data from the streetlights, such as light intensity, power consumption, and temperature. They will also be responsible for transmitting this data to the data management center.</li>
                    </ol>
                </p>
                <h1>1.3 Solutions Applied by Taiwan</h1>
                <p>  
                    <ol>
                        <li>Streetlights account for about 40% of total energy consumption in cities and smart streetlights represent a cost-efficient solution for smart cities.</li>
                        <li>As an integral part of urban infrastructure, street lighting contributes to the safety and security of cities. The annual cost of street lighting accounts for about 40% of the city’s energy consumption. Therefore, cities around the world propose budgets every year for street light maintenance and renewal. In recent years, following the replacement of fluorescent lamps with LED lights, streetlights now have longer lifespans and less energy consumption and maintenance costs. Since electricity costs can be reduced by at least 50% and smart streetlights represent a cost-efficient solution for smart cities.</li>
                        <li>For example, San Diego and General Electric (GE) cooperated in a project to replace streetlamps with LED lights. The street pole with the sensors which connected to the Intelligent Cities system, cloud help collect and analyze data on parking space, traffic flow, pedestrian flow, temperature and humidity, and air pressure. By connecting 3,200 streetlamps to such a system, the city has been able to save approximately USD 125,000 per month in electricity and maintenance costs as a result.</li>
                        <li>There are currently more than 300 million streetlamps in the world. According to ABI Research, the global smart streetlamp market has a CAGR of 31% from 2018 to 2026. By 2026, the smart lamp market value will grow nine times to reach USD 1.7 billion. In the past, only 20% of LED streetlights were integrated with lighting control systems. In 2026, it is projected that more than two-thirds of LED streetlights will be connected to the central management system. With hardware manufacturing advantages such as street light sensors and communication gateways, Taiwanese companies can work with global or local partners with cloud management, data storage, and software analytics expertise to seize market opportunities in smart cities through the process of smart transformation.</li>
                    </ol>
                </p>
                <h1>1.4 Solutions Applied by Greece</h1>
                <p>
                    Smart street lighting controls combined with artificial intelligence help the highway authority improve energy efficiency, increase traffic safety, reduce CO2 emissions, and lower operation and maintenance costs.
                    An adaptive street lighting system that produces satisfactory outcome Olympia Odos is one of the most significant projects with strategic importance for the development of the Peloponnese, Western Greece, and Epirus. The motorway connects the three regions and the capital of the country with the most important gate of Greece to Europe, the port of Patras.
                    “Conventional lighting usually results in high energy consumption and a massive carbon footprint. The illumination is also poor with such lighting, compromising road safety and fluidity of transportation system. Plus, the maintenance is always on a higher side. We were aware of these issues and wanted to avoid them altogether for the country’s most important highway,” explained by Olympia Odos S.A., a consortium of six companies responsible for the design, construction, financing, maintenance, and operation of the motorway.
                    With the focus on sustainability, road safety, and environment and the knowledge of the drawbacks of conventional lighting in mind, Olympia Odos searched for an effective smart street lighting solution that could produce satisfactory outcome and decided to invest, above and beyond its contractual obligations, in it.
                </p>
                <p>
                    Cutting-edge IoT street light control system for motorways
                    “Considering it is a motorway, where ideal visibility during different times at night is necessary, IoT-based smart street light control system was selected. It helps adjust the light intensity of LED luminaires to offer the right illumination for improved safety and fluid mobility. It also allows to cut energy waste and CO2 emissions. The openness and flexibility of the system proved to be very beneficial, allowing us to integrate artificial intelligence for adaptive lighting,”
                </p>
                <p>
                    Thanks to the easy integration of artificial intelligence in this project, over 6.000 streetlights on the motorway brighten or dim based on the predicted traffic, expected weather, and other events on the road, delivering excellent energy savings without compromising road safety. For this unique project, partners include Sei light for LED streetlights, Vinci Concessions for installation, Olympia Odos Operations S.A. for operations, and Twilight for the innovative street light control system.
                    Currently, the adaptive smart street lighting solution reduces energy consumption by 75% and carbon footprint by 5000 tons annually.
                </p>
                <p>
                    The success of the Olympia Odos A8 Motorway project sets an inspiring standard for the adoption of smart street lighting systems in Greece and beyond. The combination of energy efficiency, reduced environmental impact, enhanced safety, and cost savings positions smart LED street lights as a promising solution for future roadway infrastructure projects.
                    “Smart LED streetlights are just the right solution for any roadway infrastructure, be it a motorway, residential street, or bicycle path. They significantly save energy, minimize light pollution, and lower carbon emissions, benefiting both nature and municipality. We believe more and more cities across Greece will invest in intelligent street lighting systems.”
                </p>
                <p>
                    “Roads should be safer at night. Making streetlights smart is one of the easiest ways to make roads safer. Smart lighting offers optimal illumination, improving visibility and making road users feel safe and comfortable.
                </p>
                <h1>1.5 Solutions Applied by Egypt</h1>
                <p>
                    Egypt starts to process the idea of smart streetlight to reducing energy consumption, managing energy resources more efficiently and cutting costs. Also, incorporating features like motion sensors can enhance safety by illuminating darker areas when movement is detected.
                    In new administration capital, Egypt decided to play it by using solar energy as considered it a new city has keep up the international city in all worlds.
                </p>
                <h1>2.1 Problem Definition</h2>
                <p>
                    There are many properties of streetlight bulbs that we can modify to reduce electricity consumption and environmental pollution. However, this could lead to high-cost solutions, such as replacing the old gas bulbs, and would require a new infrastructure system to adapt to the new bulbs. Let’s consider less cost-effective solutions where technology plays a vital role. The question is, how can technology effectively manage this issue?
                    Despite the type of street bulb, gas used, and electricity source, we will control the timing of these bulbs. This means we can create a system that gives orders to the street bulbs regarding when to be on/off and how many bulbs should be sufficient for a given street (considering each street's unique conditions).
                    Our system adapts two modes to address this issue, and at the end of this project, we can compare these two modes numerically to determine which mode was more effective and how much we can improve the system.
                    <br><br>
                    <strong>The first mode is the Manual Mode:</strong> where we provide the system with instructions on when to turn lights on/off regularly and how many bulbs should be on in a street, based on our (human) predictions of crowd and weather conditions.
                    <br><br>
                    <strong>The second mode, which we like to call the Automated Mode:</strong> uses a machine learning algorithm known as the linear regression model. This mode uses a pre-trained dataset to predict the optimal amount of light needed based on multiple factors. It doesn't only consider the number of cars in the street but also scans weather conditions, recognizes the time, and identifies the current season of the year. Based on these factors, it determines how much light that street needs.
                    <br><br>
                    Let’s dive deeper into these modes to discuss how they work and how we can represent this virtually to understand their mechanisms.
                </p>
                <h1>2.2 Manual Mode</h2>
                <p>
                    The Manual mode simulates the traditional approach that electricity stations use to manage the streetlight system. It involves a basic on/off switch, which, in modern times, is not physically controlled by a human. Instead, it requires instructing the machine to turn on the lights from time x1 to time x2. This process is straightforward and is primarily based on darkness, with no other factors affecting the decision to turn the lights on or off.
                    <br><br>
                    The issue with this mode is that it consumes electricity regularly, regardless of whether it is needed. There are days when the off-time interval coincides with rainy and cloudy weather, requiring a highly efficient light even though it is not the scheduled on-time interval.
                    <br><br>
                    Our system replicates this lighting system methodology by setting when the light should be on and when it should be turned off, irrespective of the number of cars on the street and the prevailing weather conditions.
                    <br><br>
                    Now you might ask yourself “why did they make two modes why not the automated only and for sure it will be better?” The answer is simple and easy, let’s split it into these points:
                    <ol>
                        <li>This is a machine learning model (Lenier regression), the better way to prove its efficiency is to compare it with the mechanism that we have been using for decades.</li>
                        <li>It’s important to see both modes right to each other so we can compare the numbers easily and simply say this mode is better or consume less electricity than the other and see simply how much each mode costs.</li>
                    </ol>
                </p>
                <h1>2.3 Automated Mode</h2>
                <p>
                    Automated Mode is where we can say the technology magic happens, turning on or off light is now the machine decision. Using modern machine learning algorithms like Linear regression model is a good option in our case, let me tell you why but first what is Linear regression? 
                    <br><br>
                    Linear regression is an algorithm that provides a linear relationship between an independent variable and a dependent variable to predict the outcome of future events. It is a statistical method used in data science and machine learning for predictive analysis. It uses the relationship between the data-points to draw a straight line through all of them.
                    <br><br>
                    In the simplest linear regression equation, Yi = f(Xi, β) + ei. 
                    <ul>
                        <li>Yi represents the dependent variable, in our case, it is the percentage of how many light bulbs should be on for the street with its specific conditions.</li>
                        <li>Xi represents the independent variable which contains the many features that affect the decision that predicts how many light bulbs we need. The used features here are time, seasons of the year, rain, fog, and the number of cars.</li>
                    </ul>
                </p>
                <h3>2.3.1 Time</h3>
                <p>
                    A straightforward explanation for time being a factor (feature) is that we don't need lights when the sun is up, and we require lights at night. Therefore, time is a simple yet crucial factor in this context.
                </p>
                <h3>2.3.2 Year Season</h3>
                <p>
                    Considering the year season here is linked to the time factor, as mentioned before, we use time to determine when the sun is rising and when it is sunset time. There is a difference in sunrise time between summer and winter. Although it might be a small difference in calculations, it becomes a significant value in our equations.
                </p>
                <h3>2.3.3 Rain & Fog</h3>
                <p>
                    These factors are considered as weather conditions that affect the visibility for cars on the streets. Therefore, we should keep them in mind when making decisions about the optimal amount of light needed for the street.
                </p>
                <h3>2.3.4 No. of Vehicles</h3>
                <p>
                    Cars play a crucial role as the elements our system serves, and determining the number of cars in the street influences the model's decision for lighting the street. Additionally, cars are considered a street attribute; for example, Street X has a maximum capacity of 50 cars. Detecting these cars will be a process of computer vision, it is a field of artificial intelligence (AI) that enables computers and systems to derive meaningful information from digital images, videos and other visual inputs, our model is trained to see moving objects and detect which of them are cars and count their number to use as an input in our linear equation to predict the optimal percentage of lights needed. Our computer vision process will rely on a technology called OpenCV, it is a library of programming functions mainly for real-time computer vision. Originally developed by Intel, the library is cross-platform and licensed as free and open-source software under Apache License.
                </p>
                <h1>2.4 The Advantages:</h2>
                <ul>
                    <li>Dynamic lighting controls based on movement detection.</li>
                    <li>Environmental and weather monitoring.</li>
                    <li>Extended cellular and wireless communications.</li>
                    <li>Traffic management through real-time data feeds that track cars.</li>
                    <li>Automatic emergency response in the event of a car crash.</li>
                    <li>Reduced energy cost and environmental pollution by reducing carbon emissions.</li>
                    <li>Increased lamp life and shorter response times to outages.</li>
                    <li>Improved architectural planning based on real traffic patterns and insights.</li>
                </ul>
                <p>
                    According to the presentation that Egypt made it, I think our system will reduce the rate of electricity consumption. Our automated system mode depends on opening light bulbs at suitable times according to the time of sunrise and sunset in the summer or winter, so the system reduces the rate of electricity consumption. 
                    The system currently used in Egypt can reduce the rate of electricity consumption by 60% at a cost of $13,555 per year, and this is by using all light bulbs at night. In our system, we use 60% of light bulbs after the first half of midnight, and the rate decreases over time. Additionally, the light bulbs turn off in the case of rain, further reducing consumption. 
                    Therefore, I think our system can achieve a high rate of 60% reduction and can potentially reach 80% reduction at a cost of $6,810 per year.
                </p>





                <br><br>

        </div>

        <div class="footer">
            <footer>
                <p>&copy; 2024 Smart Street Light System (SSLS) (O6U). All rights reserved.</p>
            </footer>
        </div>
    </div>

</body>
</html>
